*{
	margin:0px;
	padding:0px;
}
h1{
	font:bold 30px Elephant;
}
h2{
	font:bold 50px Castellar;
}
#about1
{
	height:1000px;
	max-width:1000px;
	margin:20px auto;
}
ul {
	margin:20px auto;
    padding: 20px;
}

ul li {

    display: inline;
}

ul li a {
    background-color: black;
    color: white;
	margin:100px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px 10px 0 0;
}

ul li a:hover {
    background-color: orange;
}
body
{
	padding:20px auto;
	background-image:url("ok.jpg");
	background-size: 1000px 1000px;
	background-repeat: no-repeat;
	background-position:150px 0px;
}